<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= meta_title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="<%= meta_description %>">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta property="og:type" content="<%= meta_type %>">
    <meta property="og:title" content="<%= meta_title %>">
    <meta property="og:description" content="<%= meta_description %>">
    <meta property="og:image" content="<%= meta_image %>">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:url" content="<%= canonical_url %>">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="<%= meta_title %>">
    <meta name="twitter:description" content="<%= meta_description %>">
    <meta name="twitter:image" content="<%= meta_image %>">
    <link rel="canonical" href="<%= canonical_url %>">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <% unless Rails.env.test? %>
      <%= vite_client_tag %>
      <%= vite_javascript_tag "application" %>
    <% end %>

    <% if Rails.application.config.x.telemetry_enabled && Rails.application.config.x.posthog_public_key.present? %>
      <script>
        !function(t,e){var o,n,p,r;e.__SV||(window.posthog=e,e._i=[],e.init=function(i,s,a){function g(t,e){var o=e.split(".");2==o.length&&(t=t[o[0]],e=o[1]),t[e]=function(){t.push([e].concat(Array.prototype.slice.call(arguments,0)))}}(p=t.createElement("script")).type="text/javascript",p.async=!0,p.src=s.api_host.replace(".i.posthog.com","-assets.i.posthog.com")+"/static/array.js",(r=t.getElementsByTagName("script")[0]).parentNode.insertBefore(p,r);var u=e;for(void 0!==a?u=e[a]=[]:a="posthog",u.people=u.people||[],u.toString=function(t){var e="posthog";return"posthog"!==a&&(e+="."+a),t||(e+=" (stub)"),e},u.people.toString=function(){return u.toString(1)+".people (stub)"},o="capture identify alias people.set people.set_once people.unset people.increment people.append people.remove people.group identify".split(" "),n=0;n<o.length;n++)g(u,o[n]);e._i.push([i,s,a])},e.__SV=1)}(document,window.posthog||[]);
        posthog.init("<%= Rails.application.config.x.posthog_public_key %>", {
          api_host: "<%= Rails.application.config.x.posthog_host %>",
          autocapture: false,
          capture_pageview: true,
          capture_pageleave: true,
          person_profiles: "identified_only"
        });
      </script>
    <% end %>
  </head>

  <body class="bg-ppq-paper text-ppq-ink" data-analytics-endpoint="<%= Rails.application.config.x.analytics_endpoint %>" data-analytics-anon-id="<%= cookies.signed[:ppq_anon_id] %>">
    <div class="min-h-screen bg-[radial-gradient(circle_at_top_left,_#9de5b3,_transparent_35%),radial-gradient(circle_at_bottom_right,_#c9e598,_transparent_42%),radial-gradient(circle_at_20%_80%,_#48c6ef33,_transparent_24%)]">
      <%= render "shared/nav" %>
      <% if flash[:notice].present? || flash[:alert].present? %>
        <div class="mx-auto max-w-6xl px-4 pt-4">
          <% if flash[:notice].present? %>
            <p class="rounded-xl border border-green-200 bg-green-50 px-4 py-3 text-sm text-green-900"><%= flash[:notice] %></p>
          <% end %>
          <% if flash[:alert].present? %>
            <p class="rounded-xl border border-red-200 bg-red-50 px-4 py-3 text-sm text-red-900"><%= flash[:alert] %></p>
          <% end %>
        </div>
      <% end %>

      <main>
        <%= yield %>
      </main>

      <%= render "shared/footer" %>
    </div>

    <%= json_ld_tag(@structured_data) if @structured_data.present? %>
  </body>
</html>
